html, body, div {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

body {
  color: #87968e;
  font-family: prstart;
}

@font-face {
  font-family: prstart;
  src: url('../asset/font/prstart.ttf');
}


