/**
 * 带is-前缀的样式属于可改变的状态样式
 */

/*------------------------------- 样式初始化 -------------------------------*/
body,ul,ol,dl,dd,h2,p,input,select,form{margin: 0; padding: 0;}
body{font: 12px/150% Arial,Verdana,"\5b8b\4f53";color: #666;}
img{border:none;vertical-align: middle;}
ul,ol{list-style:none;}
h2{height: 30px;line-height: 30px;color: #333;font-size: 20px;font-family: "microsoft yahei";font-weight: 400;}
input,select,textarea{outline:none;border:none;}
textarea{resize:none;}
a{text-decoration:none;color: #666;}
i{font-style: normal;font-size: 9px;font-family: consolas;}
a:hover{color:#c81623;}

/*-------------------------------- 公用样式 --------------------------------*/
.fl {
	float: left;
}
.fr {
	float: right;
}
.clearfix:after {
	content: "";
	width: 0;
	display: table;
	clear: both;
}
.style-red {
	color: #C81623;
}
.common-width {
	position: relative;
	width: 1210px;
	margin: 0 auto;
}
.hide {
	display: none;
}
/* 焦点图的list改变样式公用 */
.slider-list .is-current {
	background-color: #C81623;
}
/* 焦点图的按钮改变样式公用 */
.slider .is-btn-current {
	display: block;
}
/* 焦点图公用 */
.slider-list {
	position: relative;
	z-index: 7;
	text-align: center;
}
	.slider-list li {
		display: inline-block;
		border-radius: 50%;
		margin-left: 5px;
		background-color: #3e3e3e;
		color: white;
		cursor: pointer;
	}
.slider-btn {
	display: none;
}
	.btn-prev,
	.btn-next {
		display: block;
		position: absolute;
		z-index: 7;
		margin: auto;
		top: 0;
		bottom: 0;
		width: 28px;
		height: 62px;
		line-height: 62px;
		text-align: center;
		color: white;
		font-family: "simsun";
		font-size: 22px;
		font-weight: 400;
		background-color: rgba(0,0,0,0.2);
	}
	.btn-prev:hover,
	.btn-next:hover {
		color: white;
	}
	.btn-prev {
		left: 0;
	}
	.btn-next {
		right: 0;
	}
/* 鼠标划过时候图片移动 */
.img-move {
	position: relative;
	left: 0;
}

/*----------------------------- 页面流程开始 ------------------------------*/
/**
 * top栏开始
 */
/* 显示的内容 */
#top {
	width: 100%;
	min-width: 1210px;
	line-height:30px;
	background-color: #F1F1F1;
}
	.top-classify {
		float: left;
		position: relative;
		height: 30px;
		padding: 0 8px;
		border-width: 0 1px;
		border-color: #F1F1F1;
		border-style: solid;
		cursor: default;
	}
	#top .spacer {
		float: left;
		height: 12px;
		width: 1px;
		margin: 9px 1px 0 1px;
		background: #ddd;
	}
	#top .spinner {
		display: inline-block;
		height: 7px;
		padding-left: 4px;
		overflow: hidden;
	}
	#top .spinner i {
		display: block;
		position: relative;
		top: -7px;
		font: 400 15px/15px "consolas";
	}
	/* 手机京东中的icon */
	#phone-jd .icon {
		display: inline-block;
		position: relative;
		top: 5px;
		height: 20px;
		width: 15px;
		margin-right: 3px;
		overflow: hidden;
		background-image: url(../image/icon.png);
	}
/* top栏鼠标移入后的改变 */
#top .is-current {
	border-color: #ddd;
	border-style: solid;
	background-color: white;
}
#top .is-current .hiding-content {
	display: block;
}
#top .is-current .hide-block {
	display: block;
}
#top .is-current .icon {
	background-position: 0 -25px;
}
/* 左侧地址选择点击后的背景颜色改变 */
#choose-city .hiding-content .is-choose {
	background-color: #C81623;
	color: white;
}
/* 隐藏内容 */
#top .hiding-content {
	display: none;
	position: absolute;
	z-index: 10;
	top: 30px;
	left: -1px;
	min-width: 100%;
	border:1px solid #DDD;
	line-height: 30px;
	background-color: white;
	overflow: hidden;
}
.top-classify .hide-block {
	display: none;
	position: absolute;
	z-index: 11;
	left: 0;
	top: 30px;
	width: 100%;
	height: 1px;
	background-color: white;
}
	/*地址*/
	#choose-city .hiding-content {
		width: 310px;
		padding: 5px 0px;
	}
	#choose-city .hiding-content li{
		float: left;
		width: 42px;
		height: 24px;
		padding: 5px 10px;
	}
	#choose-city .hiding-content a {
		display: block;
		color: #666;
		line-height: 24px;
		text-align: center;
	}
	#choose-city a:hover {
		background-color: #F1F1F1;
		color: #C81623;
	}
	/* 我的京东 */
	#my-jd .hiding-content {
		width: 200px;
		padding-top: 10px;
	}
	#my-jd img {
		float: left;
		margin-left: 15px;
		border-radius: 50%;
	}
	#my-jd .fore1 {
		display: block;
		padding-left: 85px;
		font-weight: 700;
	}
	#my-jd .fore2 {
		padding-left: 80px;
	}
	#my-jd .fore2 a {
		padding: 0 5px;
	}
	#my-jd ul {
		height: 120px;
		width: 200px;
		padding-bottom: 20px;
	}
	#my-jd li {
		display: inline-block;
		width: 70px;
		padding-left: 20px;
	}
	/* 客户服务 */
	#customer-server .hiding-content {
		width: 170px;
	}
	#customer-server .fore1 {
		border-bottom: 1px #ddd dotted;
	}
	#customer-server dl {
		padding: 5px 0 5px 10px;
	}
	#customer-server dt {
		font-size: 14px;
		font-weight: 700;
	}
	#customer-server a {
		display: inline-block;
		height: 18px;
		width: 60px;
	}
	/* 网站导航 */
	#top #web-nav {
		position: absolute;
		width: 1209px;
		left:-1127px;
		border:1px solid #DDD;
		line-height: 30px;
		background-color: white;
	}
	#web-nav dl {
		float: left;
		margin: 15px 0 20px 0;
	}
	#web-nav dt {
		padding: 0 0 5px 20px;
		font-size: 14px;
		font-weight: 700;
	}
	#web-nav .fore1 {
		border-left: none;
		width: 368px;
	}
	#web-nav dl {
		border-left: 1px solid #ddd;
		width: 276px;
	}
	#web-nav a {
		display: block;
		float: left;
		width: 72px;
		height: 25px;
		padding-left: 20px;
		line-height: 25px;
	}


/**
 * head栏开始
 */
#head {
	position: relative;
	padding-bottom: 14px;
}
#head .logo {
	float: left;
	display: block;
	padding-right: 90px;
	margin-top: 20px;
	height: 60px;
	width: 270px;
	background: url(../image/logo.png) no-repeat 0 0;
}
/* 搜索框 */
#head form {
	position: relative;
	height: 36px;
	width: 550px;
	margin-top: 25px;
	z-index: 2;
}
	.searchTex {
		height: 24px;
		width: 446px;
		padding: 4px;
		border-width: 2px 0px 2px 2px;
		border-style: solid;
		border-color: #B61D1D;
	}
	.searchBut {
		height: 36px;
		width: 82px;
		line-height: 36px;
		border: 2px 0;
		background-color: #B61D1D;
		color: white;
		font-size: 16px;
		font-family: "Microsoft YaHei";
	}
/* 购物车显示 */
.buycar {
	position: relative;
	height: 35px;
	width: 140px;
	margin: 25px 65px 0 0 ;
	border: 1px #DFDFDF solid;
	background-color: #F9F9F9;	
}
	.buycar a {
		display: block;
		width: 70px;
		height: 36px;
		line-height: 36px;
		margin-left: 45px;
	}
	.buyIcronLef {
		display: block;
		height: 16px;
		width: 18px;
		margin: 9px 0 0 19px;
		background: url(../image/icon.png) no-repeat 0 -58px;
	}
	.buyNum {
		position: absolute;
		top: -4px;
		left: 104px;
		width: 15px;
		height: 15px;
		border-radius: 7px 7px 7px 0;
		line-height: 15px;
		font-size: 12px;
		text-align: center;
		color: white;
		background-color: #c81623;
	}
	.buyIcronRi {
		display: block;
		position: absolute;
		top: 10px;
		right: 10px;
		font: 400 13px/13px simsun;
		cursor: default;
	}
/* 购物车鼠标移入后的改变 */
#head .is-current {
	border:1px solid #ddd;
	box-shadow:0px 0px 1px 1px #ddd;
	background-color: white;
}
#head .is-current .hiding-content {
	display: block;
}
#head .is-current .hide-block {
	display: block;
}
/* 购物车隐藏 */
#head .hide-block {
	display: none;
	position: absolute;
	top: 30px;
	z-index: 2;
	height: 6px;
	width: 140px;
	background-color: white;
}
	#head .hiding-content {
		display: none;
		position: absolute;
		top: 35px;
		left: -169px;
		z-index: 1;
		height: 69px;
		width: 308px;
		border:1px solid #ddd;
		box-shadow:0px 0px 1px 1px #ddd;
		background-color: white;
		overflow: hidden;
	}
	#head .hiding-content span {
		float: left;
		display: block;
		height: 49px;
		width: 57px;
		margin: 10px 0 0 40px;
		background-image: url(../image/buycar.png);
	}
	#head .hiding-content p {
		display: block;
		height: 69px;
		padding-left: 100px;
		line-height: 69px;
		color: #999;
		cursor: default;
	}
/*热词*/
#hotWords {
	height: 1.7em;
	width: 520px;
	padding-top: 5px;
	overflow: hidden;
}
	#hotWords a {
		float: left;
		display:block;
		padding-right: 10px;
	}

/**
 * nav导航栏
 */
#nav {
	position: relative;
	width: 100%;
}
/* 顶部导航栏下面的那条边 */
#nav .block {
	position: absolute;
	top: 44px;
	left: 0;
	width: 100%;
	min-width: 1210px;
	height: 2px;
	background: #B1191A;
}
/* 顶部导航栏 */
.top-nav {
	height: 44px;
	width: 100%;
	font-family: "microsoft yahei";
}
	.top-nav .fore1 {
		float: left;
		width: 210px;
		height: 44px;
		line-height: 44px;
		background-color: #B1191A;
	}
	.top-nav .fore1 a {
		display: block;
		padding-left: 0;
		color: white;
		font-size: 15px;
		text-indent: 10px;
		line-height: 44px;
	}
	.top-nav a {
		float: left;
		display: block;
		padding: 0 20px;
		line-height: 44px;
		font-size: 16px;
		color: #333;
		font-weight: 500;
	}
/* 详细商品栏 */
.category {
	position: absolute;;
	left: 0;
	top: 46px;
	z-index: 9;
	height: 465px;
	width: 209px;
	border-bottom: 1px solid #C81623;
	border-left: 1px solid #C81623;
	font-family: "microsoft yahei";
}
	.category li {
		position: relative;
		height: 31px;
		width: 199px;
		padding-left: 10px;
		background-color: #C81623;
		line-height: 31px;
		cursor: default;
	}
	.category a {
		display: block;
		padding-right: 20px;
		color: white;
		font-size: 14px;
		font-weight: 400;
	}
	.category i {
		position: absolute;
		top: 0;
		left: 190px;
		color: white;
		cursor: pointer;
	}
/* category鼠标移入后的显示 */
.category .is-current {
	background-color: #f7f7f7;
}
	.category .is-current a {
		color: #c81623;
	}
	.category .is-current i {
		color: #f7f7f7;
	}
/* 隐藏的详细category的显示 */
#nav .hide-category .is-current {
	display: block;
}
/* 隐藏的详细category */
.hide-category .hiding-content {
	display: none;
	position: absolute;
	left: 209px;
	top: 46px;
	width: 1000px;
	z-index: 8;
	min-height: 465px;
	border-width:0px 1px 1px 1px;
	border-style: solid;
	border-color: #b61d1d;
	background-color: #f7f7f7;
}
	/*top部分*/
	.category-hide-top {
		width: 800px;
		height: 44px;
		padding-bottom: 16px;
		padding-left: 10px;
		overflow: hidden;
	}
	.category-hide-top a {
		float: left;
		display: block;
		height: 24px;
		margin-left: 10px;
		margin-top: 20px;
		line-height: 24px;
		color: white;
	}
	.category-hide-top span {
		float: left;
		display: block;
		padding: 0px 10px;
		background-color: #7c7171;
	}
	.category-hide-top i {
		float: right;
		display: block;
		width: 24px;
		background-color: #5c5251;
		text-align: center;
	}
	/*中间详细商品分类部分*/
	.category-hide-channels dl {
		width: 790px;
		padding-left: 20px;
		overflow: hidden;
	}
	.category-hide-channels dt {
		float: left;
		width: 70px;
		height: 3em;
		overflow: hidden;
		padding-right: 15px;
		padding-left: 10px;
		font-weight: 700;
		text-align: right;
		line-height: 3em;
	}
	.category-hide-channels i {
		float: right;
		display: block;
		padding-left: 10px;
	}
	.category-hide-channels dd {
		float: left;
		width: 620px;
		padding:6px 0px;
		border-bottom: 1px solid #e0e0e0;
	}
	.category-hide-channels dd a {
		float: left;
		display: block;
		height: 16px;
		padding: 0px 8px;
		margin:5px 0px;
		border-left: 1px solid #e0e0e0;
		line-height: 16px;
	}
	/*右侧banner跟促销一类*/
	.category-hide-brands {
		position: absolute;
		right: 15px;
		top: 20px;
		width: 170px;
	}
	.category-hide-brands a {
		float: left;
		display: block;
		height: 35px;
		width: 83px;
		border-width: 0px 1px 1px 0px;
		border-color: white;
		border-style: solid;
	}
	.category-hide-promot {
		position: absolute;
		top: 173px;
		right: 18px;
	}
	.category-hide-promot a {
		display: block;
	}

/**
 * 详细商品栏右边的焦点图及生活服务栏
 */
/* 焦点图 */
#big-slider {
	width: 730px;
	height: 454px;
	margin: 14px 0 0 220px;
}
	#big-slider .slider-pic li {
		position: absolute;
		opacity: 0;
		filter: Alpha(opacity = 0);
	}
	#big-slider .slider-list {
		top: 425px;
	}
	#big-slider .slider-list li {
		width: 18px;
		height: 18px;
		line-height:18px;
	}
/*--------------------------------------------------------------------*/
/* 隐藏的样式 */
#big-slider .slider-pic .is-current {
	z-index: 1;
	/* 这里要删除 */
	opacity: 1;
}
/*--------------------------------------------------------------------*/

/**
 * 全局工具栏
 */
#gobal-toolbar {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 4;
	height: 100%;
	width: 6px;
	background-color: #7a6e6e;
}
/*全局工具栏上下两个子工具栏*/
.toolbar-head {
	position: absolute;
	top: 40%;
	right: 0px;
	width: 35px;
}
	.toolbar-footer {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 35px;
	}
	#gobal-toolbar .fore1,
	#gobal-toolbar .fore2,
	#gobal-toolbar .fore3,
	#gobal-toolbar .fore4,
	#gobal-toolbar .fore5,
	#gobal-toolbar .fore6,
	#gobal-toolbar .fore7 {
		position: relative;
		margin-bottom: 1px;
		line-height: 35px;
		cursor: pointer;
	}
	.toolbar-footer .fore1,
	.toolbar-footer .fore2,
	.toolbar-footer .fore3,
	.toolbar-footer .fore4,
	.toolbar-footer .fore5 {
		width: 100px;
	}
	.toolbar-footer .fore6,
	.toolbar-footer .fore7 {
		width: 80px;
	}
	.toolbar-head p {
		position: relative;
		/* right: 0; */
		width: 100px;
	}
	.toolbar-footer p {
		position: relative;
		/* right: 0; */
		width: 80px;
	}
	#gobal-toolbar p {
		height: 35px;
		padding-left: 12px;
		border-radius: 5px 0 0 5px;
		background-color: #C81623;
		color: white;
	}
	#gobal-toolbar i {
		display: block;
		position: absolute;
		z-index: 1;
		left: 0;
		top: 0;
		width: 35px;
		height: 35px;
		border-radius: 5px 0 0 5px;
		margin-bottom: 1px;
	}
/*图标*/
#gobal-toolbar i {
	background: url('../image/toolbar.png') no-repeat 0 0;
	background-color: #7a6e6e;
}
	#gobal-toolbar .fore2 i {
		background-position: 0 -35px;
	}
	#gobal-toolbar .fore3 i {
		background-position: 0 -73px;
	}
	#gobal-toolbar .fore4 i {
		background-position: 0 -108px;
	}
	#gobal-toolbar .fore5 i {
		background-position: 0 -143px;
	}
	#gobal-toolbar .fore6 i {
		background-position: 0 -180px;
	}
	#gobal-toolbar .fore7 i {
		background-position: 0 -213px;
	}

/**
 * 商品推荐
 */
/* 今日推荐 */
#today-recommend {
	position: relative;
	height: 164px;
	width: 100%;
	margin: 10px 0 20px;
}
	/*时钟*/
	.clock i {
		float: left;
		display: block;
		height: 151px;
		width: 210px;
		background: url('../image/homebg.png') no-repeat 0 -136px;
	}
	/*滑动图*/
	#recommend-slider {
		position: absolute;
		top: 0;
		left: 210px;
		height: 164px;
		width: 1000px;
		overflow: hidden;
	}
	/* ------------------------------------------------------- */
	#recommend-slider .slider-pic {
		width: 3000px;
	}
	/* ------------------------------------------------------- */
	#recommend-slider .slider-pic li,
	#recommend-slider .slider-pic div {
		float: left;
	}
	#recommend-slider .slider-pic img {
		height: 164px;
		width: 249px;
		margin-right: 1px;
		overflow: hidden;
	}
	#today-recommend .btn-prev {
		left: 210px;
	}
/* 猜你喜欢 */
#guess-like {
	position: relative;
	/* overflow: hidden; */
}
	/* 内容头部 */
	#guess-like .content-top {
		width: 100%;
		height: 36px;
	}
	#guess-like .content-top h2 {
		float: left;
		width: 308px;
		background: url('../image/homebg.png') no-repeat 85px -91px;
	}
	#guess-like .content-top a {
		float: right;
		display: block;
		width: 40px;
		height: 18px;
		margin-top: 8px;
		padding-right: 25px;
		line-height: 18px;
		background: url('../image/homebg.png') no-repeat -310px -5px;
	}
	#guess-like .content-top a:hover {
		background-position: -310px -29px;
	}
	#guess-like .spacer {
		position: absolute;
		top: 34px;
		right: 0;
		width: 365px;
		height: 5px;
		background: url('../image/homebg.png') no-repeat 0 -124px;
	}
	/* 内容主体 */
	#guess-like .main-content {
		height: 210px;
		padding-top: 20px;
		border: solid 1px #e6e6e6;
		border-top-color: #d1d1d1;
	}
	#guess-like .main-content li {
		float: left;
		height: 210px;
		width: 201px;
	}
	.g-img {
		width: 100%;
		height: 130px;
		margin-bottom: 10px;
	}
	.g-img a {
		display: block;
		height: 130px;
		width: 130px;
		margin-left: 36px;
	}
	.g-info {
		padding: 0 36px;
		border-left: 1px solid #e6e6e6;
		margin-left: -1px;
	}
	.g-info a {
		display: block;
		height: 36px;
		overflow: hidden;
	}
	.g-info p {
		margin-top: 6px;
		color: #b51d1a;
		font-size: 18px;
	}
/* 猜你喜欢改变样式 */
#guess-like .is-current {
	display: none;
}
/* 品质生活 */
#quality-life {
	padding: 25px 0 30px;
}
	#quality-life .main-content {
		height: 405px;
		border: 1px solid #ededed;
		overflow: hidden;
	}
	#quality-life .wrap {
		width: 1220px;
	}
	.ql-title {
		margin: 0 20px;
		border-bottom: 1px dashed #e0e0e0;
		text-align: center;
		font: 700 15px/40px 'Microsoft Yahei';
		color: #333;
	}
	#quality-life dt {
		margin-bottom: 12px;
		font-weight: 700;
		font-size: 16px;
	}
	/* 左边三列 */
	#quality-life .mc-column1,
	#quality-life .mc-column3 {
		width: 404px;
		background-color: #f7f7f7;
	}
		#quality-life .mc-column2 {
			width: 229px;
		}
		#quality-life .a-elem-wrap {
			display: block;
			position: relative;
			border-right: 1px solid #ededed;
			border-bottom: 1px solid #ededed;
			overflow: hidden;
		}
		#quality-life .mc-column2 .mc-bottom {
			width: 229px;
		}
		#quality-life .mc-bottom {
			box-sizing: border-box;
			width: 202px;
		}
		#quality-life .text-top,
		#quality-life .text-bottom {
			position: absolute;
			z-index: 1;
			color: #333;
		}
		#quality-life .mc-column2 .text-top {
			left: 10px;
		}
		#quality-life .text-top {
			top: 109px;
			left: 45px;
		}
		#quality-life .text-bottom {
			top: 48px;
			left: 10px;
		}
	/* 最右边的一列 */
	#quality-life .mc-column4 {
		width: 171px;
	}
		#quality-life .wrap-inset {
			width: 175px;
		}
		#quality-life .banners-left,
		#quality-life .banners-right {
			width: 85px;
			height: 381px;
			margin: 13px 0;
		}
		#quality-life .banners-left {
			border-right: 1px dashed #e0e0e0;
		}
		.banners-left ul,
		.banners-right ul {
			margin-top: -13px;
			height: 405px;
			width: 85px;
			overflow: hidden;
		}
		.banners-left li {
			float: right;
		}
		.banners-right li {
			float: left;
		}
		.banners-left li,
		.banners-right li {
			position: relative;
			width: 74px;
			height: 57px;
			border-bottom: 1px dashed #e0e0e0;
		}
		#quality-life .ql-hide-border {
			border-bottom: none;
		}
		.banners-left a {
			position: relative;
			left: -11px;
		}
		.banners-left a,
		.banners-right a {
			display: block;
			width: 85px;
			height: 57px;
			background: url('../image/quatily_life/ql4.jpg') no-repeat;
		}
		.banners-left .fore2 {
			background-position: -85px 0;
		}
		.banners-left .fore3 {
			background-position: -170px 0;
		}
		.banners-left .fore4 {
			background-position: -255px 0;
		}
		.banners-left .fore5 {
			background-position: -340px 0;
		}
		.banners-left .fore6 {
			background-position: -425px 0;
		}
		.banners-left .fore7 {
			background-position: -510px 0;
		}
		.banners-right .fore1 {
			background-position: 0 -57px;
		}
		.banners-right .fore2 {
			background-position: -85px -57px;
		}
		.banners-right .fore3 {
			background-position: -170px -57px;
		}
		.banners-right .fore4 {
			background-position: -255px -57px;
		}
		.banners-right .fore5 {
			background-position: -340px -57px;
		}
		.banners-right .fore6 {
			background-position: -425px -57px;
		}
		.banners-right .fore7 {
			background-position: -510px -57px;
		}

/**
 * 主要内容
 */
/* 整行广告 */
.row-banner {
	padding: 0 5px 30px 5px;
	width: 1200px;
	height: 125px;
}
	.row-banner .fore1,
	.row-banner .fore2,
	.row-banner .fore3,
	.row-banner .fore4,
	.row-banner .fore5,
	.row-banner .fore6 {
		float: left;
		display: block;
		width: 400px;
		height: 125px;
		background-image: url('../image/row-banner.jpg');
		background-repeat: no-repeat;
	}
	.row-banner .fore2 {
		background-position: -400px 0;
	}
	.row-banner .fore3 {
		background-position: -800px 0;
	}
	.row-banner .fore4 {
		background-position: 0 -125px;
	}
	.row-banner .fore5 {
		background-position: -400px -125px;
	}
	.row-banner .fore6 {
		background-position: -800px -125px;
	}
/* 选项卡改变样式 */
.main-tab .is-current {
	border-color: #c81623; 
} 
	.main-tab .is-current a {
		padding: 0 16px;
		border-top: 3px solid #c81623;
		color: #c81623;
		background-color: white;
	}
	.main-tab .is-current i {
		display: none;
	}
/* 主要内容公用 */
#clothes,
#cosmetic,
#mobiles,
#sports {
	position: relative;
	padding-bottom: 30px;
}
	/* 顶部选项卡公用 */
	#content .top-tab {
		position: relative;
		height: 35px;
		width: 100%;
		border-bottom: 1px solid #c81623;
	}
		/* 左侧 */
		.top-tab .icon {
			float: left;
			height: 25px;
			width: 21px;
			padding: 2px 10px 0 0;
			margin-right: 10px;
			text-align: center;
			line-height: 25px;
			font-size: 14px;
			color: white;
			background: url(../image/floor_mark.gif) no-repeat 0 0;
		}
		/* 右侧 */
		.main-tab {
			float: right;
			box-sizing: border-box;
			height: 35px;
			border-left: 1px solid #ededed;
			border-right: 1px solid #ededed;
		}
		.top-tab li {
			position: relative;
			float: left;
			height: 35px;
			border-left: solid 1px transparent;
			border-right: solid 1px transparent;
			margin-left: -1px;
		}
		.top-tab a {
			display: block;
			position: relative;
			height: 34px;
			line-height: 34px;
			padding: 2px 16px 0 16px;
			border-top: 1px solid #ededed;
		}
		.top-tab i {
			display: block;
			position: absolute;
			top: 0;
			right: -1px;
			width: 1px;
			height: 14px;
			margin-top: 12px;
			background: #ccc;
		}
	/* 内容 */
	#content .main-content {
		position: relative;
		width: 1210px;
	}
	/* 左侧的banner */
	.side-width-spec1 {
		position: relative;
		width: 330px;
	}
		.side-width-spec2 {
			position: relative;
			width: 210px;
		}
		.main-content .banner {
			height: 474px;
			overflow: hidden;
		}
		.position-spec1 {
			position: absolute;
			top: 254px;
		}
		.position-spec2 {
			position: absolute;
			top: 237px;
		}
		.choose-list {
			background: rgba(255,255,255,.5);
		}
		.choose-list li {
			float: left;
			width: 100px;
			height: 26px;
			padding: 10px 0;
		}
		.choose-list .icon {
			float: left;
			display: block;
			height: 26px;
			width: 26px;
		}
		.choose-list span {
			float: left;
			display: block;
			height: 26px;
			padding-left: 5px;
			line-height: 26px;
		}
		.choose-list .fore1 .icon {
			background-position: 0 0;
		}
		.choose-list .fore2 .icon {
			background-position: 0 -26px;
		}
		.choose-list .fore3 .icon {
			background-position: 0 -52px;
		}
		.choose-list .fore4 .icon {
			background-position: 0 -78px;
		}
		.choose-list .fore5 .icon {
			background-position: 0 -104px;
		}
		.choose-list .fore6 .icon {
			background-position: 0 -130px;
		}
		.mc-promote ,
		.banner-words {
			border-bottom: 1px solid #ededed;
			background: rgba(255,255,255,.7);
			overflow: hidden;
		}
		.banner-words a {
			float: left;
			margin-right: 10px;
			line-height: 24px;
		} 
	/* 右侧内容 */
	.content-width-spec1 {
		position: absolute;
		top: 0;
		left: 330px;
		width: 880px;
		height: 633px;
		overflow: hidden;
	}
		.content-width-spec2 {
			position: relative;
			width: 1000px;
			height: 474px;
			overflow: hidden;
		}
		.content-width-spec3 {
			position: relative;
			width: 880px;
			height: 474px;
			overflow: hidden;
		}
		.vc-left,
		.vc-right {
			float: left;
			box-sizing: border-box;
			overflow: hidden;
		}
		.vc-left a,
		.vc-right a {
			display: block;
			border-right: 1px solid #ededed;
			border-bottom: 1px solid #ededed;
			overflow: hidden;
		}
	/* 底部广告公用 */
	.foot-banner {
		height: 40px;
		padding: 13px 0 13px 11px;
		margin-top: 10px;
		background: #f7f7f7;
	}
		.foot-banner .border-hide {
			border-left: none;
		}
		.foot-banner li {
			float: left;
			width: 118px;
			height: 40px;
			border-left: 1px dotted #ccc;
			text-align: center;
		}
		.foot-banner a{
			display: block;
			width: 100px;
			height: 40px;
			margin: 0 9px;
			overflow: hidden;
		}
		.foot-banner .fore1 {
			background-position: 0 0;
		}
		.foot-banner .fore2 {
			background-position: -100px 0;
		}
		.foot-banner .fore3 {
			background-position: -200px 0;
		}
		.foot-banner .fore4 {
			background-position: -300px 0;
		}
		.foot-banner .fore5 { 
			background-position: -400px 0;
		}
		.foot-banner .fore6 {
			background-position: -500px 0;
		}
		.foot-banner .fore7 {
			background-position: -600px 0;
		}
		.foot-banner .fore8 {
			background-position: -700px 0;
		}
		.foot-banner .fore9 {
			background-position: -800px 0;
		}
		.foot-banner .fore10 {
			background-position: -900px 0;
		}

/* 服装箱包左侧side */
#clothes .choose-list {
	width: 305px;
	height: 92px;
	padding-left: 25px;
}
	#clothes .choose-list .icon {
		background-image: url('../image/clothes/clothesicon.png');
		background-repeat: no-repeat;
	}
	.extra-side {
		height: 158px;
		overflow: hidden;
	}
	.extra-side a {
		display: block;
		border: 1px solid #ededed;
		border-top: none;
		overflow: hidden;
	}
/* 服装箱包右侧可见 */
#clothes .vc-left {
	width: 660px;
}
	#clothes .extra-blank {
		margin-top: 316px;
	}
	#clothes .vc-right {
		width: 220px;
	}
/* 服装箱包隐藏内容 */

/* 服装箱包底部广告 */
#clothes .foot-banner a {
	background-image: url('../image/clothes/fuzhuang_floor.jpg');
	background-repeat:  no-repeat;
}
/* 个护美妆左侧side	 */
#cosmetic .choose-list {
	width: 200px;
	height: 92px;
	padding-left: 10px;
}
	#cosmetic .choose-list .icon {
		background-image: url('../image/cosmetic/cosmeticsicon.png');
		background-repeat: no-repeat;
	}
/* 个护美妆右侧可见 */
#cosmetic .vc-left {
	width: 780px;;
}
	#cosmetic .vc-right {
		width: 220px;
	}
	#cosmetic .extra-blank {
		margin-left: 340px;
	}
/* 个护美妆底部广告 */
#cosmetic .foot-banner a {
	background-image: url('../image/cosmetic/csmetic.jpg');
	background-repeat:  no-repeat;
}

/* 手机通讯左侧side */
#mobiles .choose-list {
	width: 305px;
	height: 47px;
	padding-left: 25px;
}
	#mobiles .choose-list .icon {
		background-image: url('../image/mobiles/mobilesicon.png');
		background-repeat: no-repeat;
	}
/* 手机通讯右侧可见 */
#mobiles .vc-left {
	width: 660px;
}
	#mobiles .vc-right {
		width: 220px;
	}
	#mobiles .extra-blank {
		margin-top: 236px;
	}
/* 手机通讯底部广告 */
#mobiles .foot-banner a {
	background-image: url('../image/mobiles/mobiles_floor.jpg');
	background-repeat:  no-repeat;
}

/* 运动健身左侧side */
#sports .choose-list {
	width: 200px;
	height: 92px;
	padding-left: 10px;
}
	#sports .choose-list .icon {
		background-image: url('../image/sports/sportsicon.png');
		background-repeat: no-repeat;
	}
/* 运动健身右侧可见 */
#sports .vc-left {
	width: 780px;
}
	#sports .vc-right {
		width: 220px;
	}
	#sports .extra-blank {
		margin-right: 340px;
	}
/* 运动健身底部广告 */
#sports .foot-banner a {
	background-image: url('../image/sports/sports.jpg');
	background-repeat:  no-repeat;
}


/**
 * 页脚
 */
#footer {
	margin-top: 30px;
	text-align: center;
}
#footer .wrap {
	width: 100%;
	height: 95px;
	background-color: #f5f5f5;
}
.foot-server dl {
	float: left;
	width: 199px;
	margin-top: 20px;
	text-align: left;
}
	.foot-server dt {
		width: 199px;
		padding: 6px 0;
		font: 400 16px/24px "microsoft yahei";
	}
	.foot-server a {
		display: block;
		width: 199px;
		height: 20px;
	}
	.foot-server .fore1 {
		width: 100px;
	}
	.foot-server .foot-cover {
		float: right;
		padding-left: 99px;
		background: url('../image/cover.png') no-repeat 80px -131px;
	}
	.foot-server .foot-cover a {
		display: block;
		margin-bottom: 50px;
		text-align: right;
	}
.foot-link {
	width: 100%;
	margin-top: 20px;
	padding-top: 22px;
	padding-bottom: 13px;
	border-top: 1px solid #e5e5e5;
} 
/* 身份认证 */
.authentication {
	padding: 10px 0 35px 0;
}
	.authentication a {
		display: inline-block;
		padding-right: 10px;
	}
