/**
 * 带is-前缀的样式属于可改变的状态样式
 */

/*------------------------------- 样式初始化 -------------------------------*/
body,ul,ol,dl,dd,h2,p,input,select,form{margin: 0; padding: 0;}
body{font: 12px/150% Arial,Verdana,"\5b8b\4f53";color: #666;}
img{border:none;vertical-align: middle;}
ul,ol{list-style:none;}
h2{height: 30px;line-height: 30px;color: #333;font-size: 20px;font-family: "microsoft yahei";font-weight: 400;}
input,select,textarea{outline:none;border:none;}
textarea{resize:none;}
a{text-decoration:none;color: #666;}
i{font-style: normal;font-size: 9px;font-family: consolas;}
a:hover{color:#c81623;}

/*-------------------------------- 公用样式 --------------------------------*/
.fl {
	float: left;
}
.fr {
	float: right;
}
.clearfix:after {
	content: "";
	width: 0;
	display: table;
	clear: both;
}
.style-red {
	color: #C81623;
}
.common-width {
	position: relative;
	width: 1210px;
	margin: 0 auto;
}
.hide {
	display: none;
}
.is-hide {
	display: none;
}
/* 焦点图的list改变样式公用 */
.slider-list .is-current {
	background-color: #C81623;
}
/* 焦点图的按钮改变样式公用 */
.slider .is-btn-current {
	display: block;
}
/* 焦点图公用 */
.slider-list {
	position: relative;
	z-index: 7;
	width: 100%;
	height: 0;
	line-height: 0;
	text-align: center;
}
	.slider-list li {
		display: inline-block;
		border-radius: 50%;
		margin: 0 2px;
		background-color: #3e3e3e;
		text-align: center;
		color: white;
		cursor: pointer;
	}
	.btn-prev,
	.btn-next {
		display: block;
		position: absolute;
		z-index: 7;
		margin: auto;
		top: 0;
		bottom: 0;
		width: 28px;
		height: 62px;
		line-height: 62px;
		text-align: center;
		color: white;
		font-family: "simsun";
		font-size: 22px;
		font-weight: 400;
		background-color: rgba(0,0,0,0.2);
	}
	.btn-prev:hover,
	.btn-next:hover {
		color: white;
	}
	.btn-prev {
		left: 0;
	}
	.btn-next {
		right: 0;
	}
/* 鼠标划过时候图片移动 */
.img-move {
	position: relative;
	left: 0;
}

/*----------------------------- 页面流程开始 ------------------------------*/
/**
 * top栏开始
 */
/* 显示的内容 */
#top {
	width: 100%;
	min-width: 1210px;
	line-height:30px;
	background-color: #F1F1F1;
}
	.top-classify {
		float: left;
		position: relative;
		height: 30px;
		padding: 0 8px;
		border-width: 0 1px;
		border-color: #F1F1F1;
		border-style: solid;
		cursor: default;
	}
	#top .spacer {
		float: left;
		height: 12px;
		width: 1px;
		margin: 9px 1px 0 1px;
		background: #ddd;
	}
	.spinner {
		display: inline-block;
		height: 7px;
		padding-left: 4px;
		overflow: hidden;
		-webkit-transition: all 1s ease-in;
		transition: all .1s ease-in;
	}
	.spinner i {
		display: block;
		position: relative;
		top: -7px;
		font: 400 15px/15px "consolas";
	}
	.js-has-drop-content:hover .spinner {
		padding-left: 0;
		padding-right: 4px;
		transform: rotate(180deg);
	}
	/* 手机京东中的icon */
	#phone-jd .icon {
		display: inline-block;
		position: relative;
		top: 5px;
		height: 20px;
		width: 15px;
		margin-right: 3px;
		overflow: hidden;
		background-image: url(../image/icon.png);
	}
/* top栏鼠标移入后的改变 */
#top .is-current {
	border-color: #ddd;
	border-style: solid;
	background-color: white;
}
#top .is-current .hiding-content {
	display: block;
}
#top .is-current .hide-block {
	display: block;
}
#top .is-current .icon {
	background-position: 0 -25px;
}
/* 左侧地址选择点击后的背景颜色改变 */
#choose-city .hiding-content .is-choose {
	background-color: #C81623;
	color: white;
}
/* 隐藏内容 */
#top .hiding-content {
	display: none;
	position: absolute;
	z-index: 10;
	top: 30px;
	left: -1px;
	min-width: 100%;
	border:1px solid #DDD;
	line-height: 30px;
	background-color: white;
	overflow: hidden;
}
.top-classify .hide-block {
	display: none;
	position: absolute;
	z-index: 11;
	left: 0;
	top: 30px;
	width: 100%;
	height: 1px;
	background-color: white;
}
	/*地址*/
	#choose-city .hiding-content {
		width: 310px;
		padding: 5px 0px;
	}
	#choose-city .hiding-content li{
		float: left;
		width: 42px;
		height: 24px;
		padding: 5px 10px;
	}
	#choose-city .hiding-content a {
		display: block;
		color: #666;
		line-height: 24px;
		text-align: center;
	}
	#choose-city a:hover {
		background-color: #F1F1F1;
		color: #C81623;
	}
	/* 我的京东 */
	#my-jd .hiding-content {
		width: 200px;
		padding-top: 10px;
	}
	#my-jd img {
		float: left;
		margin-left: 15px;
		border-radius: 50%;
	}
	#my-jd .fore1 {
		display: block;
		padding-left: 85px;
		font-weight: 700;
	}
	#my-jd .fore2 {
		padding-left: 80px;
	}
	#my-jd .fore2 a {
		padding: 0 5px;
	}
	#my-jd ul {
		height: 120px;
		width: 200px;
		padding-bottom: 20px;
	}
	#my-jd li {
		display: inline-block;
		width: 70px;
		padding-left: 20px;
	}
	/* 客户服务 */
	#customer-server .hiding-content {
		width: 170px;
	}
	#customer-server .fore1 {
		border-bottom: 1px #ddd dotted;
	}
	#customer-server dl {
		padding: 5px 0 5px 10px;
	}
	#customer-server dt {
		font-size: 14px;
		font-weight: 700;
	}
	#customer-server a {
		display: inline-block;
		height: 18px;
		width: 60px;
	}
	/* 网站导航 */
	#top #web-nav {
		position: absolute;
		width: 1209px;
		left:-1127px;
		border:1px solid #DDD;
		line-height: 30px;
		background-color: white;
	}
	#web-nav dl {
		float: left;
		margin: 15px 0 20px 0;
	}
	#web-nav dt {
		padding: 0 0 5px 20px;
		font-size: 14px;
		font-weight: 700;
	}
	#web-nav .fore1 {
		border-left: none;
		width: 368px;
	}
	#web-nav dl {
		border-left: 1px solid #ddd;
		width: 276px;
	}
	#web-nav a {
		display: block;
		float: left;
		width: 72px;
		height: 25px;
		padding-left: 20px;
		line-height: 25px;
	}


/**
 * head栏开始
 */
#head {
	position: relative;
	padding-bottom: 14px;
}
#head .logo {
	float: left;
	display: block;
	padding-right: 90px;
	margin-top: 20px;
	height: 60px;
	width: 270px;
	background: url(../image/logo.png) no-repeat 0 0;
}
/* 搜索框 */
#head form {
	position: relative;
	height: 36px;
	width: 550px;
	margin-top: 25px;
	z-index: 2;
}
	.searchTex {
		height: 24px;
		width: 446px;
		padding: 4px;
		border-width: 2px 0px 2px 2px;
		border-style: solid;
		border-color: #B61D1D;
	}
	.searchBut {
		height: 36px;
		width: 82px;
		line-height: 36px;
		border: 2px 0;
		background-color: #B61D1D;
		color: white;
		font-size: 16px;
		font-family: "Microsoft YaHei";
	}
/* 购物车显示 */
.buycar {
	position: relative;
	height: 35px;
	width: 140px;
	margin: 25px 65px 0 0 ;
	border: 1px #DFDFDF solid;
	background-color: #F9F9F9;	
}
	.buycar a {
		display: block;
		width: 70px;
		height: 36px;
		line-height: 36px;
		margin-left: 45px;
	}
	.buyIcronLef {
		display: block;
		height: 16px;
		width: 18px;
		margin: 9px 0 0 19px;
		background: url(../image/icon.png) no-repeat 0 -58px;
	}
	.buyNum {
		position: absolute;
		top: -4px;
		left: 104px;
		width: 15px;
		height: 15px;
		border-radius: 7px 7px 7px 0;
		line-height: 15px;
		font-size: 12px;
		text-align: center;
		color: white;
		background-color: #c81623;
	}
	.buyIcronRi {
		display: block;
		position: absolute;
		top: 10px;
		right: 10px;
		font: 400 13px/13px simsun;
		cursor: default;
	}
/* 购物车鼠标移入后的改变 */
#head .is-current {
	border:1px solid #ddd;
	box-shadow:0px 0px 1px 1px #ddd;
	background-color: white;
}
#head .is-current .hiding-content {
	display: block;
}
#head .is-current .hide-block {
	display: block;
}
/* 购物车隐藏 */
#head .hide-block {
	display: none;
	position: absolute;
	top: 30px;
	z-index: 2;
	height: 6px;
	width: 140px;
	background-color: white;
}
	#head .hiding-content {
		display: none;
		position: absolute;
		top: 35px;
		left: -169px;
		z-index: 1;
		height: 69px;
		width: 308px;
		border:1px solid #ddd;
		box-shadow:0px 0px 1px 1px #ddd;
		background-color: white;
		overflow: hidden;
	}
	#head .hiding-content span {
		float: left;
		display: block;
		height: 49px;
		width: 57px;
		margin: 10px 0 0 40px;
		background-image: url(../image/buycar.png);
	}
	#head .hiding-content p {
		display: block;
		height: 69px;
		padding-left: 100px;
		line-height: 69px;
		color: #999;
		cursor: default;
	}
/*热词*/
#hotWords {
	height: 1.7em;
	width: 520px;
	padding-top: 5px;
	overflow: hidden;
}
	#hotWords a {
		float: left;
		display:block;
		padding-right: 10px;
	}

/**
 * nav导航栏
 */
#nav {
	position: relative;
	width: 100%;
}
/* 顶部导航栏下面的那条边 */
#nav .block {
	position: absolute;
	top: 44px;
	left: 0;
	width: 100%;
	min-width: 1210px;
	height: 2px;
	background: #B1191A;
}
/* 顶部导航栏 */
.top-nav {
	height: 44px;
	width: 100%;
	font-family: "microsoft yahei";
}
	.top-nav .fore1 {
		float: left;
		width: 210px;
		height: 44px;
		line-height: 44px;
		background-color: #B1191A;
	}
	.top-nav .fore1 a {
		display: block;
		padding-left: 0;
		color: white;
		font-size: 15px;
		text-indent: 10px;
		line-height: 44px;
	}
	.top-nav a {
		float: left;
		display: block;
		padding: 0 20px;
		line-height: 44px;
		font-size: 16px;
		color: #333;
		font-weight: 500;
	}
/* 详细商品栏 */
.category {
	position: absolute;;
	left: 0;
	top: 46px;
	z-index: 9;
	height: 465px;
	width: 209px;
	border-bottom: 1px solid #C81623;
	border-left: 1px solid #C81623;
	font-family: "microsoft yahei";
}
	.category li {
		position: relative;
		height: 31px;
		width: 199px;
		padding-left: 10px;
		background-color: #C81623;
		line-height: 31px;
		cursor: default;
	}
	.category a {
		display: block;
		padding-right: 20px;
		color: white;
		font-size: 14px;
		font-weight: 400;
	}
	.category i {
		position: absolute;
		top: 0;
		left: 190px;
		color: white;
		cursor: pointer;
	}
/* category鼠标移入后的显示 */
.category .is-current {
	background-color: #f7f7f7;
}
	.category .is-current a {
		color: #c81623;
	}
	.category .is-current i {
		color: #f7f7f7;
	}
/* 隐藏的详细category的显示 */
#nav .hide-category .is-current {
	display: block;
}
/* 隐藏的详细category */
.hide-category .hiding-content {
	display: none;
	position: absolute;
	left: 209px;
	top: 46px;
	width: 1000px;
	z-index: 8;
	min-height: 465px;
	border-width:0px 1px 1px 1px;
	border-style: solid;
	border-color: #b61d1d;
	background-color: #f7f7f7;
}
	/*top部分*/
	.category-hide-top {
		width: 800px;
		height: 44px;
		padding-bottom: 16px;
		padding-left: 10px;
		overflow: hidden;
	}
	.category-hide-top a {
		float: left;
		display: block;
		height: 24px;
		margin-left: 10px;
		margin-top: 20px;
		line-height: 24px;
		color: white;
	}
	.category-hide-top span {
		float: left;
		display: block;
		padding: 0px 10px;
		background-color: #7c7171;
	}
	.category-hide-top i {
		float: right;
		display: block;
		width: 24px;
		background-color: #5c5251;
		text-align: center;
	}
	/*中间详细商品分类部分*/
	.category-hide-channels dl {
		width: 790px;
		padding-left: 20px;
		overflow: hidden;
	}
	.category-hide-channels dt {
		float: left;
		width: 70px;
		height: 3em;
		overflow: hidden;
		padding-right: 15px;
		padding-left: 10px;
		font-weight: 700;
		text-align: right;
		line-height: 3em;
	}
	.category-hide-channels i {
		float: right;
		display: block;
		padding-left: 10px;
	}
	.category-hide-channels dd {
		float: left;
		width: 620px;
		padding:6px 0px;
		border-bottom: 1px solid #e0e0e0;
	}
	.category-hide-channels dd a {
		float: left;
		display: block;
		height: 16px;
		padding: 0px 8px;
		margin:5px 0px;
		border-left: 1px solid #e0e0e0;
		line-height: 16px;
	}
	/*右侧banner跟促销一类*/
	.category-hide-brands {
		position: absolute;
		right: 15px;
		top: 20px;
		width: 170px;
	}
	.category-hide-brands a {
		float: left;
		display: block;
		height: 35px;
		width: 83px;
		border-width: 0px 1px 1px 0px;
		border-color: white;
		border-style: solid;
	}
	.category-hide-promot {
		position: absolute;
		top: 173px;
		right: 18px;
	}
	.category-hide-promot a {
		display: block;
	}

/**
 * 详细商品栏右边的焦点图及生活服务栏
 */
/* 焦点图 */
#big-slider {
	position: relative;
	width: 730px;
	height: 454px;
	margin: 14px 0 0 220px;
}
	#big-slider .slider-pic li {
		position: absolute;
		opacity: 0;
		filter: Alpha(opacity = 0);
	}
	#big-slider .slider-list {
		top: 425px;
	}
	#big-slider .slider-list li {
		width: 18px;
		height: 18px;
		line-height:18px;
	}
/* 隐藏的样式 */
#big-slider .slider-pic .is-current {
	z-index: 1;
}	
	/* 这个class在脚本执行后会从HTML中删除，是为了防止脚本未加载的时候全部图片的透明度都是0没有图片显示 */
	#big-slider .slider-pic .is-js-delete {
		opacity: 1;
		filter: Alpha(opacity = 100);
	}
/* 新闻及生活服务 */
#focus-extra {
	width: 249px;
	margin: 12px 0 0 10px;
	overflow: hidden;
}
/* 新闻 */
.news-head {
	height: 32px;
	border:1px solid #e8e8e7;
	line-height: 32px;
}
	.news-head p {
		float: left;
		padding-left: 15px;
		font-size: 16px;
		font-weight: 400;
		color: #666;
		cursor: default;
	}
	.news-head a {
		float: right;
		display: block;
		padding-right: 17px;
		font-family: "consolas";
		color: #666;
		font-size: 12px;
	}
	.news-content {
		height: 120px;
		padding:5px 0px 4px 17px;
		border: solid 1px #e8e8e7;
		border-top: none;
	}
	.news-content li {
		height: 24px;
		overflow: hidden;
		line-height: 24px;
	}
	.news-content span {
		margin-right: 5px;
		font-weight: 700;
	}
	.news-content a {
		display: block;
		font-family: "consolas";
	}
/* 生活服务鼠标移入后显示 */
#life-server .is-current {
	border-bottom-color: white;
}
	#life-server .is-current span {
		border-top: solid 2px #C81623;
	}
/* 生活服务显示 */
#life-server {
	height: 208px;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #e8e8e7;
	overflow: hidden;
}
	#life-server .wrap {
		position: relative;
		top: 0px;
		width: 260px;
		height: 250px;
	}
	.server-box li {
		float: left;
		height: 69px;
		width: 62px;
		border-right: 1px solid #e8e8e7;
		border-bottom: 1px solid #e8e8e7;
		overflow: hidden;
	}
	.server-box a {
		float: left;
		display: block;
		height: 69px;
		width: 62px;
		text-align: center;
	}
	.server-box i {
		position: relative;
		z-index: -1;
		display: block;
		margin: 14px auto 0 auto;
		height: 25px;
		width: 25px;
	}
	.server-box span {
		position: relative;
		z-index: -1;
		display: block;
		width: 62px;
		height: 30px;
		line-height: 30px;
	}
	.server-box .fore1 {
		background: url('../image/lifeIcon.png') no-repeat 0 0;
	}
	.server-box .fore2 {
		background: url('../image/lifeIcon.png') no-repeat 0 -25px;
	}
	.server-box .fore3 {
		background: url('../image/lifeIcon.png') no-repeat 0 -50px;
	}
	.server-box .fore4 {
		background: url('../image/lifeIcon.png') no-repeat 0 -75px;
	}
	.server-box .fore5 {
		background: url('../image/lifeIcon.png') no-repeat 0 -100px;
	}
	.server-box .fore6 {
		background: url('../image/lifeIcon.png') no-repeat 0 -125px;
	}
	.server-box .fore7 {
		background: url('../image/lifeIcon.png') no-repeat 0 -150px;
	}
	.server-box .fore8 {
		background: url('../image/lifeIcon.png') no-repeat 0 -175px;
	}
	.server-box .fore9 {
		background: url('../image/lifeIcon.png') no-repeat 0 -250px;
	}
	.server-box .fore10 {
		background: url('../image/lifeIcon.png') no-repeat 0 -200px;
	}
	.server-box .fore11 {
		background: url('../image/lifeIcon.png') no-repeat 0 -275px;
	}
	.server-box .fore12 {
		background: url('../image/lifeIcon.png') no-repeat 0 -225px;
	}
/* 生活服务隐藏top切换样式 */
.server-box-hide .is-current {
	background: url('../image/iframe-si.png') center 0 no-repeat;
}
.server-box-hide .is-current > a{
	color: white;
}
/* 生活服务隐藏公共 */
.server-box-hide .close {
	float: right;
	height: 20px;
	width: 20px;
	text-align: center;
	line-height: 20px;
	cursor: pointer;
}
	.server-box-hide .close:hover {
		background-color: #CCCCCC;
		color: white;
	} 
	.server-box-hide .top-tab {
		height: 19px;
		width: 100%;
		padding: 15px 0 0 10px;
	}
	.server-box-hide .main-tab {
		float: left;
		height: 19px;
		line-height: 16px;
		margin-right: 10px;
		padding: 0 2px;
	}
	.server-box-hide select {
		height: 20px;
		border: 1px solid #e8e8e7;
		color: #666;
	}
	.server-box-hide .mc-submit {
		display: block;
		height: 26px;
		width: 67px;
		border-radius: 3px;
		margin: 10px 0 20px 10px;
		line-height: 26px;
		text-align: center;
		background-color: #C81623;
		color: white;
	}
	.hot-sale {
		display: block;
		margin-left: 10px;
		color: #005EA7;
	}
	.hot-sale i {
		float: left;
		display: block;
		width: 22px;
		height: 10px;
		margin: 4px 7px 0 0;
		background: url('../image/hot.png') no-repeat 0 0;
	}
/* 生活服务隐藏 */
.server-box-hide {
	position: relative;
	top: 208px;
	width: 247px;
	height: 177px;
}
	#tele-bill,
	#air-ticket,
	#film-ticket,
	#games {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: white;
	}
	/* 话费 */
	#tele-bill .ls-form {
		position: relative;
		width: 100%;
		height: 21px;
		line-height: 21px;
		padding: 10px 0 0 10px;
	}
		#tele-bill .ls-form i {
			padding-right: 5px;
			cursor: default;
		}
		#tele-bill input{
			height: 20px;
			width: 110px;
			border: 1px solid #e8e8e7;
		}
		#tele-bill select {
			margin-right: 10px;
		}
		#tele-bill .input-width1 {
			width: 115px;
		} 
		#tele-bill .input-width2 {
			width: 117px;
		} 
	/* 机票 */
	.ticket-set-out,
	.ticket-date,
	.ticket-back {
		padding: 10px 0 0 10px;
	}
		.ticket-set-out select {
			width: 80px;
		}
		.ticket-set-out select,
		.ticket-date select,
		.ticket-back select {
			margin: 0 3px;
		}
		#air-ticket .choose-box .go-back-btn {
			float: left;
			margin: 17px 0 0 15px;
		}
		#air-ticket .choose-box {
			width: 100%;
			height: 47px;
		}
		#air-ticket .choose-box i {
			float: left;
			display: block;
			width: 24px;
			height: 18px;
			padding: 14px 0 0 5px;
			line-height: 18px;
		}
		#air-ticket .be-more {
			float: right;
			padding: 15px 10px 0 0;
		}
	/* 电影票 */
	#film-ticket .main-content li {
		float: left;
		width: 65px;
		margin: 0 5px;
	}
		#film-ticket .fore1,
		#film-ticket .fore2,
		#film-ticket .fore3,
		#film-ticket .fore4,
		#film-ticket .fore5,
		#film-ticket .fore6 {
			display: block;
			width: 65px;
			height: 90px;
			background-image: url('../image/film.jpg');
			background-repeat: no-repeat;
		}
		#film-ticket .fore1 {
			background-position: 0 0;
		}
		#film-ticket .fore2 {
			background-position: -65px 0;
		}
		#film-ticket .fore3 {
			background-position: -130px 0;
		}
		#film-ticket .fore4 {
			background-position: -195px 0;
		}
		#film-ticket .fore5 {
			background-position: -260px 0;
		}
		#film-ticket .fore6 {
			background-position: -325px 0;
		}
		#film-ticket .ft-btn1,
		#film-ticket .ft-btn2 {
			display: block;
			width: 57px;
			height: 20px;
			margin: 5px 4px;
			border-radius: 3px;
			text-align: center;
			line-height: 20px;
			color: white;
		}
		.ft-btn1 {
			background-color: #c81623;
		}
		.ft-btn2 {
			background-color: #2ba5eb;
		}
	/* 游戏 */
	.games-select {
		padding: 10px 0 0 10px;
	}
		#games .choose-box {
			padding-top: 10px;
			padding-left: 8px;
	    	height: 22px;
	    	line-height: 22px;
		}
/* 最下面的广告 */
#focus-extra .bottom-banner {
	display: block;
	margin-top: 9px;
}

/**
 * 全局工具栏
 */
#gobal-toolbar {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 4;
	height: 100%;
	width: 6px;
	background-color: #7a6e6e;
}
/*全局工具栏上下两个子工具栏*/
.toolbar-head {
	position: absolute;
	top: 40%;
	right: 0px;
	width: 35px;
}
	.toolbar-footer {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 35px;
	}
	#gobal-toolbar .fore1,
	#gobal-toolbar .fore2,
	#gobal-toolbar .fore3,
	#gobal-toolbar .fore4,
	#gobal-toolbar .fore5,
	#gobal-toolbar .fore6,
	#gobal-toolbar .fore7 {
		position: relative;
		margin-bottom: 1px;
		line-height: 35px;
		cursor: pointer;
	}
	.toolbar-footer .fore1,
	.toolbar-footer .fore2,
	.toolbar-footer .fore3,
	.toolbar-footer .fore4,
	.toolbar-footer .fore5 {
		width: 100px;
	}
	.toolbar-footer .fore6,
	.toolbar-footer .fore7 {
		width: 80px;
	}
	.toolbar-head p {
		position: relative;
		right: 0;
		width: 100px;
	}
	.toolbar-footer p {
		position: relative;
		right: 0;
		width: 80px;
	}
	#gobal-toolbar p {
		height: 35px;
		padding-left: 12px;
		border-radius: 5px 0 0 5px;
		background-color: #C81623;
		color: white;
	}
	#gobal-toolbar i {
		display: block;
		position: absolute;
		z-index: 1;
		left: 0;
		top: 0;
		width: 35px;
		height: 35px;
		border-radius: 5px 0 0 5px;
		margin-bottom: 1px;
	}
/*图标*/
#gobal-toolbar i {
	background: url('../image/toolbar.png') no-repeat 0 0;
	background-color: #7a6e6e;
}
	#gobal-toolbar .fore2 i {
		background-position: 0 -35px;
	}
	#gobal-toolbar .fore3 i {
		background-position: 0 -73px;
	}
	#gobal-toolbar .fore4 i {
		background-position: 0 -108px;
	}
	#gobal-toolbar .fore5 i {
		background-position: 0 -143px;
	}
	#gobal-toolbar .fore6 i {
		background-position: 0 -180px;
	}
	#gobal-toolbar .fore7 i {
		background-position: 0 -213px;
	}

/**
 * 商品推荐
 */
/* 今日推荐 */
#today-recommend {
	position: relative;
	height: 164px;
	width: 100%;
	margin: 10px 0 20px;
}
	/*时钟*/
	.jd-clock {
		position: absolute;
	    left: 72px;
	    top: 31px;
	    width: 43px;
	    height: 43px;
	    border-radius: 50%;
	    border: 7px solid #fff;
	}
	.jd-clock::before {
	    content: "";
	    position: absolute;
	    left: 18px;
	    top: 18px;
	    width: 7px;
	    height: 7px;
	    border-radius: 50%;
	    background: #fff;
	}
	.jd-clock-h {
		position: absolute;
	    top: 9px;
	    left: 19px;
	    height: 15px;
	    width: 5px;
	    background-color: #fff;
	    border-radius: 2px;
	    -webkit-transform-origin: 2.5px 12.5px;
    	-moz-transform-origin: 2.5px 12.5px;
	    transform-origin: 2.5px 12.5px;
	}
	.jd-clock-m {
		position: absolute;
	    top: 5px;
	    left: 19px;
	    width: 5px;
	    height: 19px;
	    background-color: #fff;
	    border-radius: 2px;
	    -webkit-transform-origin: 2.5px 16.5px;
    	-moz-transform-origin: 2.5px 16.5px;
	    transform-origin: 2.5px 16.5px;
	}
	.jd-clock-s {
		position: absolute;
	    left: 0;
	    top: 2px;
	    width: 5px;
	    height: 5px;
	    background-color: #5e5252;
	    border-radius: 50%;
	    -webkit-transform-origin: 21.5px 19.5px;
    	-moz-transform-origin: 21.5px 19.5px;
	    transform-origin: 21.5px 19.5px;
	}
	.clock i {
		float: left;
		display: block;
		height: 151px;
		width: 210px;
		background: url('../image/homebg.png') no-repeat 0 -136px;
	}
	/*滑动图*/
	#recommend-slider {
		position: absolute;
		top: 0;
		left: 210px;
		height: 164px;
		width: 1000px;
		overflow: hidden;
	}
	/* ------------------------------------------------------- */
	#recommend-slider .slider-pic {
		position: relative;
		width: 3000px;
	}
	/* ------------------------------------------------------- */
	#recommend-slider .slider-pic li,
	#recommend-slider .slider-pic div {
		float: left;
	}
	#recommend-slider .slider-pic li {
		width: 1000px;
	}
	#recommend-slider .slider-pic img {
		height: 164px;
		width: 249px;
		margin-right: 1px;
		overflow: hidden;
	}
/* 猜你喜欢 */
#guess-like {
	position: relative;
	overflow: hidden;
}
	/* 内容头部 */
	#guess-like .content-top {
		width: 100%;
		height: 36px;
	}
	#guess-like .content-top h2 {
		float: left;
		width: 308px;
		background: url('../image/homebg.png') no-repeat 85px -91px;
	}
	#guess-like .content-top a {
		float: right;
		display: block;
		width: 40px;
		height: 18px;
		margin-top: 8px;
		padding-right: 25px;
		line-height: 18px;
		background: url('../image/homebg.png') no-repeat -310px -5px;
	}
	#guess-like .content-top a:hover {
		background-position: -310px -29px;
	}
	#guess-like .spacer {
		position: absolute;
		top: 34px;
		right: 0;
		width: 365px;
		height: 5px;
		background: url('../image/homebg.png') no-repeat 0 -124px;
	}
	/* 内容主体 */
	#guess-like .main-content {
		height: 210px;
		padding-top: 20px;
		border: solid 1px #e6e6e6;
		border-top-color: #d1d1d1;
		overflow: hidden;
	}
	#guess-like .main-content li {
		float: left;
		height: 210px;
		width: 201px;
	}
	.g-img {
		width: 100%;
		height: 130px;
		margin-bottom: 10px;
	}
	.g-img a {
		display: block;
		height: 130px;
		width: 130px;
		margin-left: 36px;
	}
	.g-info {
		padding: 0 36px;
		border-left: 1px solid #e6e6e6;
		margin-left: -1px;
	}
	.g-info a {
		display: block;
		height: 36px;
		overflow: hidden;
	}
	.g-info p {
		margin-top: 6px;
		color: #b51d1a;
		font-size: 18px;
	}
/* 猜你喜欢改变样式 */
#guess-like .is-current {
	display: none;
}
/* 品质生活 */
#quality-life {
	padding: 25px 0 30px;
}
	#quality-life .main-content {
		height: 405px;
		border: 1px solid #ededed;
		overflow: hidden;
	}
	#quality-life .wrap {
		width: 1220px;
	}
	.ql-title {
		margin: 0 20px;
		border-bottom: 1px dashed #e0e0e0;
		text-align: center;
		font: 700 15px/40px 'Microsoft Yahei';
		color: #333;
	}
	#quality-life dt {
		margin-bottom: 12px;
		font-weight: 700;
		font-size: 16px;
	}
	/* 左边三列 */
	#quality-life .mc-column1,
	#quality-life .mc-column3 {
		width: 404px;
		background-color: #f7f7f7;
	}
		#quality-life .mc-column2 {
			width: 229px;
		}
		#quality-life .a-elem-wrap {
			display: block;
			position: relative;
			border-right: 1px solid #ededed;
			border-bottom: 1px solid #ededed;
			overflow: hidden;
		}
		#quality-life .mc-column2 .mc-bottom {
			width: 229px;
		}
		#quality-life .mc-bottom {
			box-sizing: border-box;
			width: 202px;
		}
		#quality-life .text-top,
		#quality-life .text-bottom {
			position: absolute;
			z-index: 1;
			color: #333;
		}
		#quality-life .mc-column2 .text-top {
			left: 10px;
		}
		#quality-life .text-top {
			top: 109px;
			left: 45px;
		}
		#quality-life .text-bottom {
			top: 48px;
			left: 10px;
		}
	/* 最右边的一列 */
	#quality-life .mc-column4 {
		width: 171px;
	}
		#quality-life .wrap-inset {
			width: 175px;
		}
		#quality-life .banners-left,
		#quality-life .banners-right {
			width: 85px;
			height: 381px;
			margin: 13px 0;
		}
		#quality-life .banners-left {
			border-right: 1px dashed #e0e0e0;
		}
		.banners-left ul,
		.banners-right ul {
			margin-top: -13px;
			height: 405px;
			width: 85px;
			overflow: hidden;
		}
		.banners-left li {
			float: right;
		}
		.banners-right li {
			float: left;
		}
		.banners-left li,
		.banners-right li {
			position: relative;
			width: 74px;
			height: 57px;
			border-bottom: 1px dashed #e0e0e0;
		}
		#quality-life .ql-hide-border {
			border-bottom: none;
		}
		.banners-left a {
			position: relative;
			left: -11px;
		}
		.banners-left a,
		.banners-right a {
			display: block;
			width: 85px;
			height: 57px;
			background: url('../image/quatily_life/ql4.jpg') no-repeat;
		}
		.banners-left .fore2 {
			background-position: -85px 0;
		}
		.banners-left .fore3 {
			background-position: -170px 0;
		}
		.banners-left .fore4 {
			background-position: -255px 0;
		}
		.banners-left .fore5 {
			background-position: -340px 0;
		}
		.banners-left .fore6 {
			background-position: -425px 0;
		}
		.banners-left .fore7 {
			background-position: -510px 0;
		}
		.banners-right .fore1 {
			background-position: 0 -57px;
		}
		.banners-right .fore2 {
			background-position: -85px -57px;
		}
		.banners-right .fore3 {
			background-position: -170px -57px;
		}
		.banners-right .fore4 {
			background-position: -255px -57px;
		}
		.banners-right .fore5 {
			background-position: -340px -57px;
		}
		.banners-right .fore6 {
			background-position: -425px -57px;
		}
		.banners-right .fore7 {
			background-position: -510px -57px;
		}

/**
 * 楼层索引
 */
/* 改变样式 */
#elevator li .is-current {
	background-color: white;
	color: #c81623;
}
/* 主要样式 */
 #elevator {
 	display: none;
 	position: fixed;
 	top: 50%;
 	left: 311.5px;
 	z-index: 1;
 	width: 30px;
 }
 	#elevator li {
 		position: relative;
 		width: 18px;
 		height: 30px;
 		margin: 0 auto;
 		border-bottom: 1px dotted #c2c2c2;
 	}
 	#elevator .border-none {
 		border-bottom: none;
 	}
 	#elevator a {
 		display: block;
 		position: absolute;
 		top: 0;
 		width: 30px;
 		height: 30px;
 		margin-left: -6px;
 		line-height: 30px;
 		background-color: white;
 		text-align: center;
 		font-size: 14px;
 	}
 	#elevator .title {
 		background-color: transparent;
 		color: transparent;
 		font-size: 12px;
 	}
 	#elevator .title:hover {
 		background-color: #c81623;
 		color: white;
 	}

/**
 * 主要内容
 */
/* 整行广告 */
.row-banner {
	padding: 0 5px 30px 5px;
	width: 1200px;
	height: 125px;
}
	.row-banner .fore1,
	.row-banner .fore2,
	.row-banner .fore3,
	.row-banner .fore4,
	.row-banner .fore5,
	.row-banner .fore6 {
		float: left;
		display: block;
		width: 400px;
		height: 125px;
		background-image: url('../image/row-banner.jpg');
		background-repeat: no-repeat;
	}
	.row-banner .fore2 {
		background-position: -400px 0;
	}
	.row-banner .fore3 {
		background-position: -800px 0;
	}
	.row-banner .fore4 {
		background-position: 0 -125px;
	}
	.row-banner .fore5 {
		background-position: -400px -125px;
	}
	.row-banner .fore6 {
		background-position: -800px -125px;
	}
/* 选项卡改变样式 */
#content .main-tab .is-current {
	border-color: #c81623; 
} 
	#content .main-tab .is-current a {
		padding: 0 16px;
		border-top: 3px solid #c81623;
		color: #c81623;
		background-color: white;
	}
	#content .main-tab .is-current i {
		display: none;
	}
/* 主要内容公用 */
#clothes,
#cosmetic,
#mobiles,
#sports {
	position: relative;
	padding-bottom: 30px;
}
	/* 顶部选项卡公用 */
	#content .top-tab {
		position: relative;
		height: 35px;
		width: 100%;
		border-bottom: 1px solid #c81623;
	}
		/* 左侧 */
		#content .content-floor {
			position: absolute;
			height: 27px;
			width: 31px;
			font-size: 14px;
			color: white;
			overflow: hidden;
		}
		#content .bg-prev {	
			top: 0;		
			background: url(../image/floor_mark.gif) no-repeat 0 0;
		}
		#content .bg-hide {
			top: -27px;	
			background: url(../image/floor_mark.gif) no-repeat 0 -27px;
		}
		#content .bg-prev,
		#content .bg-hide {
			position: absolute;
			left: 0;
			height: 27px;
			width: 31px;
		}
		#content .content-floor span {
			position: absolute;
			top: 2px;
			left: 3px;
		}
		#content h2 p {
			padding-left: 41px;
		}
		/* 右侧 */
		#content .main-tab {
			float: right;
			box-sizing: border-box;
			height: 35px;
			border-left: 1px solid #ededed;
			border-right: 1px solid #ededed;
		}
		#content .top-tab li {
			position: relative;
			float: left;
			height: 35px;
			border-left: solid 1px transparent;
			border-right: solid 1px transparent;
			margin-left: -1px;
		}
		#content .top-tab a {
			display: block;
			position: relative;
			height: 34px;
			line-height: 34px;
			padding: 2px 16px 0 16px;
			border-top: 1px solid #ededed;
		}
		#content .top-tab i {
			display: block;
			position: absolute;
			top: 0;
			right: -1px;
			width: 1px;
			height: 14px;
			margin-top: 12px;
			background: #ccc;
		}
	/* 内容 */
	#content .main-content {
		position: relative;
		width: 1210px;
	}
	/* 左侧的banner */
	.side-width-spec1 {
		position: relative;
		width: 330px;
		font-family: "microsoft yahei";
	}
		.side-width-spec2 {
			position: relative;
			width: 210px;
			font-family: "microsoft yahei";
		}
		#content .main-content .banner {
			height: 474px;
			overflow: hidden;
		}
		.position-spec1 {
			position: absolute;
			top: 254px;
		}
		.position-spec2 {
			position: absolute;
			top: 237px;
		}
		.choose-list {
			font-size: 14px;
			background: rgba(255,255,255,.5);
		}
		.choose-list li {
			float: left;
			width: 100px;
			height: 26px;
			padding: 10px 0;
		}
		.choose-list .icon {
			float: left;
			display: block;
			height: 26px;
			width: 26px;
		}
		.choose-list span {
			float: left;
			display: block;
			height: 26px;
			padding-left: 5px;
			line-height: 26px;
		}
		.choose-list .fore1 .icon {
			background-position: 0 0;
		}
		.choose-list .fore2 .icon {
			background-position: 0 -26px;
		}
		.choose-list .fore3 .icon {
			background-position: 0 -52px;
		}
		.choose-list .fore4 .icon {
			background-position: 0 -78px;
		}
		.choose-list .fore5 .icon {
			background-position: 0 -104px;
		}
		.choose-list .fore6 .icon {
			background-position: 0 -130px;
		}
		.banner-words li {
			float: left;
			height: 96px;
			padding-left: 25px;
		}
		.banner-words a {
			float: left;
			margin-right: 10px;
			line-height: 24px;
		}

		.mc-promote {
			font-size: 14px;
		}
		.mc-promote li {
			float: left;
			height: 24px;
			line-height: 24px;
			padding-left: 25px;
			overflow: hidden; 
		}
		.mc-promote ,
		.banner-words {
			width: 100%;
			border-bottom: 1px solid #ededed;
			background: rgba(255,255,255,.7);
			overflow: hidden;
		}
		
	/* 右侧第一页内容 */
	.content-width-spec1 {
		position: absolute;
		top: 0;
		left: 330px;
		width: 880px;
		height: 633px;
		overflow: hidden;
	}
		.content-width-spec2 {
			position: relative;
			width: 1000px;
			height: 474px;
			overflow: hidden;
		}
		.content-width-spec3 {
			position: relative;
			width: 880px;
			height: 474px;
			overflow: hidden;
		}
		.vc-left,
		.vc-right {
			float: left;
			box-sizing: border-box;
			overflow: hidden;
		}
		.vc-left li,
		.vc-right li {
			box-sizing: border-box;
			overflow: hidden;
		}
		.vc-left a,
		.vc-right a {
			display: block;
			border-right: 1px solid #ededed;
			border-bottom: 1px solid #ededed;
			overflow: hidden;
		}
	/* 右侧其他页内容 */
	.item-width-spec1,
	.item-width-spec2,
	.item-width-spec3 {
		float: left;
		box-sizing: border-box;
		border-right: 1px solid #ededed;
		border-bottom: 1px solid #ededed;
		overflow: hidden;
	}
	.item-width-spec1 {
		height: 237px;
		width: 220px;
	}
	.item-width-spec2 {
		width: 220px;
		height: 159px;
	}
	.item-width-spec3 {
		width: 200px;
		height: 237px;
	}
		.item-width-spec1 .mc-img a,
		.item-width-spec3 .mc-img a {
			display: block;
			margin: 20px 45px 10px 45px;
		}
		.item-width-spec1 .mc-name,
		.item-width-spec3 .mc-name{
			margin: 0 17px 3px 17px;
			height: 3em;
		}
		.item-width-spec1 p,
		.item-width-spec3 p{
			margin: 0 17px;
			font-size: 15px;
	    	font-family: Verdana;
			color: #e8393c;
		}
		
	/* 焦点图 */
	.visible-content .slider-pic {
		position: relative;
	}
	.visible-content .slider-pic li {
		float: left;
	}
	.visible-content .slider-list {
		bottom: 19px;
	}
		.visible-content .slider-list li {
			width: 9px;
			height: 9px;
			line-height:9px;
		}
	/* 底部广告公用 */
	.foot-banner {
		height: 40px;
		padding: 13px 0 13px 11px;
		margin-top: 10px;
		background: #f7f7f7;
	}
		.foot-banner .border-hide {
			border-left: none;
		}
		.foot-banner li {
			float: left;
			width: 118px;
			height: 40px;
			border-left: 1px dotted #ccc;
			text-align: center;
		}
		.foot-banner a{
			display: block;
			width: 100px;
			height: 40px;
			margin: 0 9px;
			overflow: hidden;
		}
		.foot-banner .fore1 {
			background-position: 0 0;
		}
		.foot-banner .fore2 {
			background-position: -100px 0;
		}
		.foot-banner .fore3 {
			background-position: -200px 0;
		}
		.foot-banner .fore4 {
			background-position: -300px 0;
		}
		.foot-banner .fore5 { 
			background-position: -400px 0;
		}
		.foot-banner .fore6 {
			background-position: -500px 0;
		}
		.foot-banner .fore7 {
			background-position: -600px 0;
		}
		.foot-banner .fore8 {
			background-position: -700px 0;
		}
		.foot-banner .fore9 {
			background-position: -800px 0;
		}
		.foot-banner .fore10 {
			background-position: -900px 0;
		}

/* 服装箱包左侧side */
#clothes .choose-list {
	width: 305px;
	height: 92px;
	padding-left: 25px;
}
	#clothes .choose-list .icon {
		background-image: url('../image/clothes/clothesicon.png');
		background-repeat: no-repeat;
	}
	#clothes .banner-words {
		height: 127px;
	}
	#clothes .banner-words li {
		width: 135px;
		padding-top: 16px;
	}
	.extra-side {
		height: 158px;
		overflow: hidden;
	}
	.extra-side a {
		display: block;
		border: 1px solid #ededed;
		border-top: none;
		overflow: hidden;
	}

/* 服装箱包右侧可见 */
#clothes .vc-left {
	width: 660px;
}
	#clothes .vc-left .wrap {
		width: 670px;
	}
	#clothes .vc-right {
		width: 220px;
	}
	#clothes .extra-blank {
		margin-top: 316px;
	}
	#clothes .vc-left .fore1 {
		width: 440px;
		height: 158px;
	}
	#clothes .vc-left .fore2 {
		width: 440px;
		height: 475px;
	}
	#clothes .vc-left .fore3,
	#clothes .vc-left .fore4,
	#clothes .vc-left .fore5,
	#clothes .vc-left .fore6,
	#clothes .vc-right .fore7,
	#clothes .vc-right .fore8 {
		width: 220px;
		height: 158px;
	}
	#clothes .vc-right .fore9 {
		width: 220px;
		height: 316px;
	}
/* 服装箱包轮播 */
#clothes-slider {
	position: absolute;
	top: 158px;
	left: 0;
	box-sizing: border-box;
	height: 316px;
	width: 440px;
	border-right: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	overflow: hidden;
}
	#clothes-slider .slider-pic {
		width: 2000px;
	}
	#clothes-slider .slider-pic li {
		width: 439px;
	}
/* 服装箱包隐藏内容 */

/* 服装箱包底部广告 */
#clothes .foot-banner a {
	background-image: url('../image/clothes/fuzhuang_floor.jpg');
	background-repeat:  no-repeat;
}
/* 个护美妆左侧side	 */
#cosmetic .choose-list {
	width: 200px;
	height: 92px;
	padding-left: 10px;
}
	#cosmetic .choose-list .icon {
		background-image: url('../image/cosmetic/cosmeticsicon.png');
		background-repeat: no-repeat;
	}
	#cosmetic .mc-promote,
	#sports .mc-promote {
		height: 48px;
		padding-top: 21px;
		line-height: 24px; 
	}
	#cosmetic .mc-promote li,
	#sports .mc-promote li {
		width: 180px;
	}
	#cosmetic .banner-words,
	#sports .banner-words {
		height: 74px;
	}
	#cosmetic .banner-words li,
	#sports .banner-words li {
		width: 165px;
		padding-top: 7px;
	}
/* 个护美妆右侧可见 */
#cosmetic .vc-left {
	width: 780px;;
}
	#cosmetic .vc-left .wrap {
		width: 790px;
	}
	#cosmetic .vc-right {
		width: 220px;
	}
	#cosmetic .extra-blank {
		margin-left: 340px;
	}
	#cosmetic .vc-left .fore1,
	#cosmetic .vc-left .fore3,
	#cosmetic .vc-right .fore5 {
		width: 220px;
		height: 297px;
	}
	#cosmetic .vc-left .fore2,
	#cosmetic .vc-left .fore4,
	#cosmetic .vc-right .fore6 {
		width: 220px;
		height: 177px;
	}
/* 个护美妆焦点图 */
#cosmetic-slider {
	position: absolute;
	top: 0;
	left: 0;
	width: 340px;
	height: 474px;
	overflow: hidden;
}
	#cosmetic-slider .slider-pic {
		width: 3000px;
	}
	#cosmetic-slider .slider-pic li {
		width: 340px;
	}
	#cosmetic-slider .slider-pic a{
		display: block;
		border-right: 1px solid #ededed;
		border-bottom: 1px solid #ededed;
		overflow: hidden;
	}
/* 个护美妆底部广告 */
#cosmetic .foot-banner a {
	background-image: url('../image/cosmetic/csmetic.jpg');
	background-repeat:  no-repeat;
}

/* 手机通讯左侧side */
#mobiles .choose-list {
	width: 305px;
	height: 47px;
	padding-left: 25px;
}
	#mobiles .choose-list .icon {
		background-image: url('../image/mobiles/mobilesicon.png');
		background-repeat: no-repeat;
	}
	#mobiles .mc-promote {
		height: 48px;
		padding-top: 21px;
	}
	#mobiles .mc-promote li {
		width: 135px;
	}
	#mobiles .banner-words {
		height: 120px;
	}
	#mobiles .banner-words li {
		width: 135px;
		padding-top: 7px;
	}
/* 手机通讯右侧可见 */
#mobiles .vc-left {
	width: 660px;
}
	#mobiles .vc-left .wrap {
		width: 670px;
	}
	#mobiles .vc-right {
		width: 220px;
	}
	#mobiles .extra-blank {
		margin-top: 237px;
	}
	#mobiles .vc-left .fore1,
	#mobiles .vc-left .fore2,
	#mobiles .vc-left .fore5,
	#mobiles .vc-right .fore8 {
		width: 220px;
		height: 237px;
	}
	#mobiles .vc-left .fore3,
	#mobiles .vc-right .fore6 {
		width: 220px;
		height: 119px;
	}
	
	#mobiles .vc-left .fore4,
	#mobiles .vc-right .fore7 {
		width: 220px;
		height: 118px;
	}
/* 手机通讯焦点图 */
#mobiles-slider {
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	width: 440px;
	height: 237px;
	border-right: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	overflow: hidden;
}
	#mobiles-slider .slider-pic {
		width: 4000px;
	}
	#mobiles-slider .slider-pic li {
		width: 439px;
	}
/* 手机通讯底部广告 */
#mobiles .foot-banner a {
	background-image: url('../image/mobiles/mobiles_floor.jpg');
	background-repeat:  no-repeat;
}

/* 运动健身左侧side */
#sports .choose-list {
	width: 200px;
	height: 92px;
	padding-left: 10px;
}
	#sports .choose-list .icon {
		background-image: url('../image/sports/sportsicon.png');
		background-repeat: no-repeat;
	}
/* 运动健身右侧可见 */
#sports .vc-left {
	width: 780px;
}
	#sports .vc-left .wrap {
		width: 790px;
	}
	#sports .vc-right {
		width: 220px;
	}
	#sports .extra-blank {
		margin-right: 340px;
	}
	#sports .vc-left li,
	#sports .vc-right li {
		width: 220px;
		height: 237px;
	}
/* 运动健身焦点图 */
#sports-slider {
	position: absolute;
	top: 0;
	left: 220px;
	width: 340px;
	height: 474px;
	overflow: hidden;
}
	#sports-slider .slider-pic {
		width: 3000px;
	}
	#sports-slider .slider-pic li {
		width: 340px;
	}
	#sports-slider .slider-pic a{
		display: block;
		border-right: 1px solid #ededed;
		border-bottom: 1px solid #ededed;
		overflow: hidden;
	}
/* 运动健身底部广告 */
#sports .foot-banner a {
	background-image: url('../image/sports/sports.jpg');
	background-repeat:  no-repeat;
}

/**
 * 天天低价及热门晒单
 */
/* 公用 */
#extra-content {
	margin-bottom: 20px;
}
	#extra-content .content-top {
		height: 36px;
	}
	#extra-content h2 {
		width: 100%;
	}
	#extra-content .main-content {
		border-top: 1px solid #e5e5e5;
		border-left: 1px solid #e5e5e5;
		overflow: hidden;
	}
	#extra-content .wrap {
		width: 1000px;
	}
/* 天天低价 */
.low-price {
	width: 900px;
	height: 319px;
}
	.low-price .special {
		width: 221px;
		height: 245px;
	}
	.low-price li {
		float: left;
		width: 199px;
		height: 104px;
		padding: 18px 10px;
		border-right: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;
		overflow: hidden;
	}
	/* 第一幅图 */
	#extra-content .special .mc-img {
		width: 219px;
		height: 180px;
		margin-bottom: 10px;
		text-align: center;
	}
		#extra-content .special .mc-info {
			width: 200px;
		}
		#extra-content .special .mc-name {
			height: 18px;
		}
	/* 其他图 */
	.low-price .mc-img {
		float: left;
		position: relative;
		left: 0;
		width: 100px;
		height: 100px;
	}
		.low-price .mc-info {
			float: right;
			width: 94px;
		}
		.low-price .mc-name {
			height: 36px;
			margin-bottom: 6px;
			color: #666;
			overflow: hidden;
		}
		.low-price .mc-price {
			color: #e12228;
			font-size: 16px;
			font-weight: 700;
		}
/* 热门晒单 */
.hot-sheet {
	width: 310px;
	height: 319px;
}
	.hot-sheet-wrap {
		height: 240px;
		width: 268px;
		padding: 21px 20px 20px;
		border-right: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;
	}
	#hot-sheet-slider {
		height: 240px;
		width: 268px;
		overflow: hidden;
	}
	#hot-sheet-slider .slider-pic {
		position: relative;
	}
	.hot-sheet li {
		position: relative;
		width: 266px;
		height: 100px;
		padding-bottom: 20px;
		overflow: hidden;
	}
	.hot-sheet .mc-img {
		width: 80px;
		height: 80px;
		padding: 10px 0;
	}
	.hot-sheet .mc-info {
		position: relative;
		width: 168px;
	}
	.hot-sheet .mc-name {
		padding: 7px 0;
	}
	.hot-sheet .mc-name img{
		height: 28px;
		width: 28px;
		margin-right: 5px;
		border-radius: 50%;
	}
	.hot-sheet .mc-comment {
		width: 130px;
		height: 34px;
		padding: 10px 15px 10px 20px;
		background-color: #f8f8f8;
		color: #999;
	}
	.hot-sheet .mc-info .quote-left {
		position: absolute;
		top: 49px;
		left: 4px;
		font-size: 38px;
		line-height: 38px;
		color: #aaa;
	}
	.hot-sheet .mc-comment .quote-right {
		vertical-align: -24px;
		font-size: 38px;
		line-height: 38px;
		color: #aaa;
	}
	.hot-sheet .mc-info .mc-triangle {
		position: absolute;
		z-index: -1;
		top: 62px;
		left: -9px;
		color: #f8f8f8;
		font-size: 20px;
	}
/**
 * 页脚
 */
#footer {
	margin-top: 30px;
	text-align: center;
}
#footer .wrap {
	width: 100%;
	height: 95px;
	background-color: #f5f5f5;
}
.foot-server dl {
	float: left;
	width: 199px;
	margin-top: 20px;
	text-align: left;
}
	.foot-server dt {
		width: 199px;
		padding: 6px 0;
		font: 400 16px/24px "microsoft yahei";
	}
	.foot-server a {
		display: block;
		width: 199px;
		height: 20px;
	}
	.foot-server .fore1 {
		width: 100px;
	}
	.foot-server .foot-cover {
		float: right;
		padding-left: 99px;
		background: url('../image/cover.png') no-repeat 80px -131px;
	}
	.foot-server .foot-cover a {
		display: block;
		margin-bottom: 50px;
		text-align: right;
	}
.foot-link {
	width: 100%;
	margin-top: 20px;
	padding-top: 22px;
	padding-bottom: 13px;
	border-top: 1px solid #e5e5e5;
} 
/* 身份认证 */
.authentication {
	padding: 10px 0 35px 0;
}
	.authentication a {
		display: inline-block;
		padding-right: 10px;
	}
