body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,p,input,select,textarea,form{margin: 0; padding: 0;}
body{font: 12px/150% Arial,Verdana,"\5b8b\4f53";color: #666;}
img{border:none;vertical-align: middle;}
ul,ol{list-style:none;}
input,select,textarea{outline:none;border:none;}
textarea{resize:none;}
a{text-decoration:none;color: #666;}
.fl{float: left;}
.fr{float: right;}
i{font-style: normal;font-size: 9px;font-family: consolas;}
a:hover{color:#c81623;}
.clearfix:after{content: "";width: 0;display: table;clear: both;}
h2,h3{font-family: "microsoft yahei";font-weight: 400;}
.style_red{color: #C81623;}
.comWidth {position: relative;width: 1210px;margin: 0 auto;}
.comHide {display: none;}